<div class="jumbotron bg-transparent">
    <h1 class="display-3 text-danger font-weight-bold animated bounceInDown">Movies<span
            class="text-white animated bounceInDown">App</span></h1>
    <p class="lead text-white font-weight-bold animated bounceInUp">Aplicación de peliculas.</p>
</div>
<div class="container">
    <app-galeria [peliculas]="cartelera|slice:0:6" titulo="Películas en cartelera"></app-galeria>
    <app-galeria [peliculas]="populares|slice:0:6" titulo="Populares"></app-galeria>
    <app-galeria [peliculas]="popularsChilds|slice:0:6" titulo="Populares entre los niños"></app-galeria>
</div>